.login-form-container {
    background-image: url("../../public/assets/images/movies-with-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.login-form-container::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
background-color: rgba(0,0,0,0.6);
}
.header-wrap {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.4) 0px 10px 10px -10px;
}
.netflix-logo {
    width: 180px;
    z-index: 1;
}
.form-container {
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.logout-btn{
    max-height: 45px;
}
.profile-wrap{
    display:flex;
    align-items: center;
}
.user-email {
    padding-left: 12px;
    font-size: 20px;
    margin-bottom: 0px;
}
.header-right-wrap {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}