.login-form-container {
    background-image: url(http://localhost:3000/static/media/movies-with-bg.989c87722b8bb5c4c39c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
body::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
background-color: rgba(0,0,0,0.6);
}
.header-wrap{
    position: absolute;
}
.netflix-logo {
    width: 180px;
    z-index: 1;
}
.form-container {
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    position: relative;
    width: 500px;
    margin: 0 auto;
}